{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ url_settings }}" data-toggle="tooltip" title="{{ button_settings }}" class="btn btn-info"><i class="fa fa-cogs"></i></a>
        <a href="{{ url_cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="row">
      <div id="callback-filter" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
      <div id="callback-panel" class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right">
              <button type="button" data-toggle="tooltip" data-url="{{ url_remove }}" title="{{ button_remove }}" class="btn btn-danger btn-sm" id="button-remove" data-warning="{{ title_warning }}" data-error="{{ error_not_selected }}" data-confirm="{{ confirm_remove }}"><i class="fa fa-trash-o"></i></button>
              <button type="button" data-toggle="tooltip" data-url="{{ url_update }}" title="{{ button_update }}" class="btn btn-primary btn-sm" id="button-update"><i class="fa fa-refresh"></i></button>
            </div>
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ url_action }}" method="post" enctype="multipart/form-data" id="form-callback-list" class="form-horizontal">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <td class="text-center"><input type="checkbox" id="select-all"></td>
                    <td>{{ column_id }}</td>
                    <td>{{ column_name }}</td>
                    <td>{{ column_email }}</td>
                    <td>{{ column_phone }}</td>
                    <td>{{ column_url }}</td>
                    <td>{{ column_comment }}</td>
                    <td>{{ column_status }}</td>
                    <td class="text-right">{{ column_action }}</td>
                  </tr>
                  </thead>
                  <tbody id="list-items">
                  {{ view_items }}
                  </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-12">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="panel-footer">{{ heading_title }} v{{ data_version }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
    $(document).ready(function() {
        // Check/uncheck all checkbox action
        $('#select-all').on('click', toggleAllCheckbox);

        // Update items action
        $('#button-update').on('click', updateItems);

        // Delete item/items action
        $('#list-items').on('click', 'button.btn-danger', function() {
            const id = $(this).attr('data-id');
            if (confirm($('#button-remove').attr('data-confirm'))) {
                $('input[name*="selected"][value="' + id + '"]').prop('checked', true);
                $('#list-items button').prop('disabled', true);
                removeItems();
            }
        });
        $('#button-remove').on('click', function() {
            const button = $('#button-remove');
            let checked = [];
            $('input[name*="selected"]:checked').each(function() {
                checked.push(this.value);
            });

            if (checked.length) {
                if (confirm(button.attr('data-confirm'))) {
                    removeItems();
                }
            } else {
                const warning = button.attr('data-warning');
                const error = button.attr('data-error');
                showAlert($('#callback-panel'), 'warning', warning, error);
            }
        });

        // Update items
        function updateItems() {
            $('button').tooltip('hide');
            const button = $('#button-update');
            const url = button.attr('data-url');
            let list = $("#list-items");

            list.html('');
            lockButtons();
            button.find('i.fa').removeClass('fa-refresh').addClass('fa-spinner fa-pulse');

            list.load(
                url,
                function( response, status, xhr ) {
                    if ( status === "error" ) {
                        let msg = "Error: ";
                        list.html( msg + xhr.status + " " + xhr.statusText );
                    }
                    unLockButtons();
                    button.find('i.fa').removeClass('fa-spinner fa-pulse').addClass('fa-refresh');
                }
            );
        }
        // Remove items
        function removeItems() {
            const button = $('#button-remove');
            const url = button.attr('data-url');

            lockButtons();
            button.find('i.fa').removeClass('fa-trash').addClass('fa-spinner fa-pulse');

            $.ajax({
                type: 'post',
                url: url,
                data: $('#form-callback-list').serialize(),
                dataType: 'json',
                success: function(response) {
                    unLockButtons();
                    updateItems();
                    showAlert($('#callback-panel'), response.status, response.title, response.text);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                },
                complete: function() {
                    button.find('i.fa').removeClass('fa-spinner fa-pulse').addClass('fa-trash');
                }
            });
        }

        // Lock/unlock buttons
        function lockButtons() {
            $('#button-update').prop('disabled', true);
            $('#button-remove').prop('disabled', true);
        }
        function unLockButtons() {
            $('#button-update').prop('disabled', false);
            $('#button-remove').prop('disabled', false);
        }

        // Toggle checkbox
        function toggleAllCheckbox() {
            $('input[name*="selected"]').prop('checked', this.checked);
        }

        // Alerts
        function showAlert(block, color, title, text) {
            block.find('> .alert').hide('slow');
            let alertBlock = '<div class="alert alert-' + color + ' alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + title + ': </strong> ' + text + '</div>';
            block.prepend(alertBlock);
        }
    });
</script>
