<div class="modal fade" id="callback-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ url_action }}" method="post" enctype="multipart/form-data" id="form-callback-modal" class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="callback-modal-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ modal_title }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" class="form-control" name="callback_id" id="form-callback-id">
          <div class="form-group">
            <label for="form-callback-name" class="col-sm-3 control-label">{{ label_name }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i></span>
                <input type="text" name="name" class="form-control" id="form-callback-name" placeholder="{{ label_name }}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="form-callback-phone" class="col-sm-3 control-label">{{ label_phone }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile fa-fw" aria-hidden="true"></i></span>
                <input type="tel" name="phone" class="form-control" id="form-callback-phone" placeholder="{{ label_phone }}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="form-callback-email" class="col-sm-3 control-label">{{ label_email }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                <input type="email" name="email" class="form-control" id="form-callback-email" placeholder="{{ label_email }}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="form-callback-message" class="col-sm-3 control-label">{{ label_message }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-comment fa-fw" aria-hidden="true"></i></span>
                <textarea name="message" class="form-control" id="form-callback-message"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="form-callback-message" class="col-sm-3 control-label">{{ label_status }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-hourglass-end fa-fw" aria-hidden="true"></i></span>
                <select name="callback_status_id" class="form-control" id="form-callback-status"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {{ button_close }}</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{ button_save }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
